<h1>Short URLs</h1>

<% if current_user %>
  <p>
    Hello <%= current_user.email %>
    <br>
    Your role is <span><%= current_user.role %></span>
  </p>  
<% end %>

<%= form_tag '/search', method: 'GET' do %>
  <%= label_tag :code, 'Short URL: ' %>
  <%= text_field_tag :code, params[:code] %>

  <%= submit_tag 'Search' %>
<% end %>

<% if current_user %>
  <div>
      <% if current_user.admin? %>
        <br>
        <h2>Short URL List</h2>
        <%= link_to 'New Short URL', new_short_url_path, class: 'btn btn-success btn-xs' %>
        <table class="table">
          <thead>
            <tr>
              <td>Full URL</td>
              <td>Short URL</td>
              <td>Clicks</td>
              <td></td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            <% @short_urls.each do |short_url| %>
              <tr>
                <td><%= short_url.full_url %></td>
                <td><%= short_url.code %></td>
                <td><%= short_url.visit_histories.size %></td>
                <td>
                  <%= link_to 'History', visit_histories_path(short_url, short_url_id: short_url.id), class: 'btn btn-info btn-xs' %>
                </td>
                <td>
                  <%= link_to 'Edit', edit_short_url_path(short_url), class: 'btn btn-primary btn-xs' %>
                  <%= link_to 'Delete', short_url_path(short_url), data: {'turbo-method': :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <br>
  <%= link_to 'Sign out', destroy_user_session_path, data: {'turbo-method': :delete}, class: 'btn btn-primary btn-xs' %>

<% else %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-xs' %>
  <br>
  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-xs' %>
<% end %>